* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer
}

ul {
  list-style: none;
}

h1,
h2 {
  text-align: center;
}

img {
  border: none;
}

input[type=checkbox],
input[type=radio] {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}

#app {
  font: normal 12px "微软雅黑", "Arial", "Verdana", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
}


/*基本盒子格式，定义为宽度包含边框内边距*/

.box {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.h {
  text-align: left;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #C6C6C6;
  border-top: 1px solid #C6C6C6;
  color: #2A6496;
}

.b {
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.h .right-btn {
  float: right;
}

.h .right-btn>button {
  margin-right: 10px;
  padding: 0;
}

.right-pad-box {
  position: fixed;
  top: 100px;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  border: 1px solid #ccc;
  z-index: 99;
  transition: width 0.6s ease 0s;
  overflow-x: hidden;
}

ul.tabs {
  height: 26px;
  background-color: #F4F4F4;
  width: 100%;
  min-width: 800px;
  padding-left: 5px;
  padding-top: 8px;
  border-top: 1px solid #FEFEFE;
  border-bottom: 1px solid #DEDEDE;
}

.tabs li {
  position: relative;
  float: left;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
}

.tabs li:last-child {
  border-right: 1px solid #E0E0E0;
}

.tabs a {
  display: block;
  line-height: 25px;
  height: 25px;
  padding: 0 15px;
  color: #999;
  background-color: #FCFCFC;
  border-radius: 3px 3px 0 0;
}

.tabs>li>a.active {
  background-color: #fff;
  color: #56575B;
  height: 26px;
  line-height: 26px;
  border: none;
}

.tabs>li>a.active:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: -1px;
  background-color: #099;
  width: 100%;
  height: 2px;
}


/*日志，新增部分用绿色*/

.add {
  color: #7CA;
}


/*日志，删除部分用红色且横穿线*/

.remove {
  color: red;
  text-decoration: line-through;
}

button[type="text"]{
  background-color: transparent;
  border: none;
  color: #409EFF;
  padding: 0 3px;
  outline: none;
}

button[type="text"]:hover{
  opacity: 0.8;
}